<div class="card upcoming-event-card">
  <h4 class="card-subtitle">Upcoming Events</h4>
  <hr style="border-top: 1px solid white; margin: 10px 0px" />
  <div class="upcoming-events-div">No Upcoming Events!</div>
  <h4 class="card-subtitle">Supervisor</h4>
  <hr style="border-top: 1px solid white; margin: 10px 0px" />
  <p style="margin-bottom: 40px">Mr. Aman Shakya</p>
  <h4 class="card-subtitle">Students</h4>
  <hr style="border-top: 1px solid white; margin: 10px 0px" />
  <p style="margin-bottom: 40px">
    Prabin Poudel<br />Rahul Shah<br />Ranju G.C.<br />Supriya Khadka <br />
  </p>
</div>
