<header>
    <nav class="navbar sticky-top">
        <a class="navbar-brand" href="/student">Welcome, <%- firstname %></a>
        <div class="header-avatar">
            <a href="/logout" class="btn btn-outline-primary logout-btn">LOG OUT</a>
            <img src="/assets/student.png" />
        </div>
    </nav>
</header>