<header>
    <nav class="navbar sticky-top">
        <a class="navbar-brand" href="/student">Supriya Khadka</a>
        <div class="header-avatar">
            <button class="btn btn-outline-primary logout-btn">LOG OUT</button>
            <img src="/assets/student.png" />
        </div>
    </nav>
</header>