<% if(message.length > 0 ){ %>
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <%- message%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>

<script>
  $("div.alert .close").on("click", function () {
    console.log("Click");
    $(this).parent().remove();
  });

  // Closes automatically after 5 seconds
  setTimeout(function () {
    if ($("div.alert").length > 0) {
      $("div.alert").remove();
      console.log($(this).parent());
    }
  }, 5000);
</script>
<% } %>
