<div class="view hide hidden" id="student">
    <div class="card-body">
        <div class="login-body-top">
            <h5 class="card-title">STUDENT LOGIN</h5>
            <span>
                <!-- <i class="fa fa-angle-left"></i> -->
                <img src="/assets/student.png" />
                <!-- <i class="fa fa-angle-right"></i> -->
            </span>
        </div>
        <form action="/auth/login" class="login-form" method="post">
            <div class="form-group">
                <label for="username">USERNAME </label>
                <input type="text" class="form-control" id="usernameStudent" name="usernameStudent" required>
            </div>
            <div class="form-group">
                <label for="password">PASSWORD</label>
                <input type="password" class="form-control" id="passwordStudent" name="passwordStudent" required>
            </div>
            <div class="button-div">
                <input class="btn btn-outline-primary login-btn" type="submit" value="Login">
            </div>
        </form>
    </div>
</div>