<div class="view hide hidden" id="teacher">
    <div class="card-body">
        <div class="login-body-top">
            <h5 class="card-title">TEACHER LOGIN</h5>
            <span>
                <!-- <i class="fa fa-angle-left"></i> -->
                <img src="/assets/teacher.png" />
                <!-- <i class="fa fa-angle-right"></i> -->
            </span>
        </div>
        <form class="login-form">
            <div class="form-group">
                <label for="username">USERNAME </label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">PASSWORD</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
        </form>
        <a href="#" class="btn btn-outline-primary login-btn">Login</a>
    </div>
</div>