<div class="view hide hidden" id="sem1">
    <h5>Ongoing Projects</h5>
    <div class="card ">
        <div class="project-card">
            <h4 class="card-title">Sem1 Title (Teacher)</h4>
            <p class="card-text">SUPERVISED BY: AMAN SHAKYA<br />
                STUDENTS: S.RAHUL, K.SUPRIYA, P.PRABIN, G.RANJU<br />
                CREATED ON: 2021-06-18</p>
        </div>
        <a href="/teacher/eachProject" class="stretched-link"></a>
    </div>

    <h5>Completed Projects</h5>
</div>