<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.16.1/ckeditor.js"
        integrity="sha512-2nFxKVmFuBhAR45DBnAANBjtxzf7z0m6wRU7NOquxibA6efrQpUtdjFT4wzqewqTI3/cCNbBzJNUtu1NxjFiKw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="minute-body">
    <%- include('partials/header') %>
        <div class="container">
            <h3>
                Add Minutes
            </h3>
            <div class="card text-center">
                <form method="POST" action="/save" enctype="multipart/form-data" class="login-form minute-form">
                    <div class="form-group">
                        <label for="name">Title : </label>
                        <input type="" class="form-control" id="title" name="title">
                    </div>
                    <div class="form-group">
                        <label for="college">Description:</label>
                        <textarea type="string" class="form-control" id="description" name="description"> </textarea>
                    </div>
                    <div class="form-group">
                        <label for="college">Add Attachments</label>
                        <input type="file" name="uploadedFiles" value="uploading_files" multiple>
                        <!-- <input type="submit" value="uploading_img"> -->
                    </div>
                    <div class="verification-button">
                        <button class="btn btn-primary logout-btn" name="action" type="submit">Ask Verification</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            CKEDITOR.replace('description', {
                plugins: "wysiwygarea, toolbar, basicstyles, link, list"
            })
            var data = CKEDITOR.instances["description"].getData();
            console.log("Data Test" + data)
        </script>
</body>

</html>