<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>

  <body style="background-color: #1f3750">
    <%- include('partials/adminHeader') %>
    <div class="student-dashboard container">
      <a
        type="button"
        class="btn btn-primary logout-btn admin"
        href="/admin/createTeam"
      >
        Create Team
      </a>

      <%for(let i = 0; i<3; i++){%>
      <div class="card">
        <div class="project-card admin">
          <div>
            <h4 class="card-title">Team Quadruples</h4>
            <h5 class="card-title">Project: Log Tracker</h5>
          </div>
          <p class="card-text">
            CREATED ON: 2021-06-18<br />
            SUPERVISED BY: AMAN SHAKYA<br />
            STUDENTS: S.RAHUL, K.SUPRIYA, P.PRABIN, G.RANJU
          </p>
        </div>
        <a href="/admin/eachProject" class="stretched-link"></a>
      </div>
      <%}%>
    </div>
    <script src="/javascripts/userChange.js"></script>
    <script src="/javascripts/linkActive.js"></script>
  </body>
</html>
