<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- CSS only -->
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body style="background-color: #1F3750;">
  <div class="container login-page">
    <div class="card text-center">

      <div class="card-header">
        <!-- <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Login </a>
          </li>
        </ul> -->
        LOG TRACKER
      </div>

      <!-- Login Views -->
      <div class="view" id="Login">
        <div class="card-body">
            <div class="login-body-top">
                <h5 class="card-title">LOGIN</h5>
                <span>
                    <img src="/assets/logo.png" />
                </span>
            </div>
            <form action="/auth/login" class="login-form" method="post">
              <div class="form-group">
                <label for="email">EMAIL</label>
                <input type="email" class="form-control" id="email" name="username" required>
              </div>
                <div class="form-group">
                    <label for="password">PASSWORD</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="button-div">
                    <input class="btn btn-outline-primary login-btn" type="submit" value="Login">
                </div>
                <%- include('./partials/messages') %>
            </form>
        </div>
    </div>
            <p class="acc-check">Don't have an account?
              <a href="/signup" style="color: #04a4e4;">Signup</a>
            </p>
    </div>
  </div>

  <script src="/javascripts/userChange.js"></script>
  <script src="/javascripts/linkActive.js"></script>
</body>

</html>