<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>


<body style="background-color: #1F3750;">
  <div class="container login-page">
    <div class="card text-center">

      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">SignUp As</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="/" data-launch-view="admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="true" href="#" data-launch-view="teacher">Teacher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="true" href="#" data-launch-view="student">Student</a>
          </li>
        </ul>
      </div>
      <!-- User Views -->
      <%- include('partials/signup/adminSignup') %>
        <%- include('partials/signup/studentSignup') %>
          <%- include('partials/signup/teacherSignup') %>

            <p class="acc-check">Already have an account?
              <a href="/" style="color: #04a4e4;">Login</a>
            </p>
    </div>
  </div>

  <script src="/javascripts/userChange.js"></script>
  <script src="/javascripts/linkActive.js"></script>
</body>

</html>