/* Navbar Begins */
.navbar.sticky-top {
  background-color: transparent;
  padding: 15px 60px;
  margin-bottom: 10px;
  box-shadow: 0 2px 2px -2px #999;
}

.navbar.sticky-top a.navbar-brand {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: white;
}

.header-avatar img {
  width: 60px;
  height: 60px;
}

.btn.btn-primary.logout-btn {
  margin-right: 30px;
  background-color: #37464d;
  border: none;
  font-weight: bold;
  color: #04a4e4;
}

@media screen and (max-width: 600px) {
  .navbar.sticky-top {
    padding: 15px 30px;
  }

  .navbar.sticky-top a.navbar-brand {
    font-size: 1.3rem;
  }

  .btn.btn-primary.logout-btn {
    margin-right: 15px;
  }
}
/* Navbar Begins */

/* Student Dashboard Begins */
.student-dashboard {
  color: white;
}

.buttons-div {
  margin-bottom: 20px;
}

.semBtn {
  margin: 10px 20px;
  border: none;
  background-color: #37464d;
  color: white;
  padding: 15px 20px;
  border-radius: 15px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.semBtn:focus {
  border: none;
  outline: none;
}
.activeBtn {
  background-color: #f0f0ed;
  color: #37464d;
}

.view h5 {
  font-size: 18px;
  font-weight: 500;
}

.view div.card {
  margin: 20px 0 40px 0;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.project-card h4 {
  font-weight: 500;
}

.project-card p {
  text-transform: uppercase;
}
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 768px) {
  .project-card {
    flex-direction: column;
  }

  .project-card.admin {
    text-align: center;
  }

  .view div.card {
    text-align: center;
  }
}
/* Student Dashboard Ends */

/* Student Each Project Begins */
.container.each-project {
  color: white;
}
.container.each-project h3 {
  text-transform: uppercase;
  margin: 20px 0 5px 0;
  font-weight: 400;
}

.container.each-project h5 {
  font-weight: 300;
}

.student-log-details {
  margin: 30px 0 5px 0;
}

.minute-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minute-header div {
  display: flex;
  align-items: center;
}

.minute-header div .card-title {
  font-weight: 500;
}

.badge.badge-secondary {
  margin: 0 20px 15px 20px;
}

.minute-header div h6 {
  margin-left: 15px;
}

.each-image {
  display: flex;
  flex-direction: column;
}

.each-image p {
  font-size: 10px;
  text-align: left;
  margin-top: 10px;
}

.uploaded-images-div {
  display: flex;
}

img.uploaded-images {
  max-width: 150px;
  max-height: 150px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
  margin-right: 20px;
}

img.uploaded-images:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* The Close Button */
.closeBtn {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.comment-section {
  display: flex;
  align-items: baseline;
}

.comment-section a {
  margin-left: 30px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  background-color: #37464d;
  padding: 5px 10px;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

.comment-section a:hover {
  color: white;
  transform: scale(1.1);
}

.comment-form div.form-group {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.comment-form div.form-group input {
  background-color: #37464d;
  margin: 0 15px;
  border-radius: 10px;
  border: none;
  color: white;
}

.comment-form div.form-group input::placeholder {
  color: white;
  opacity: 0.5;
}

.comment-form div.form-group button {
  border-radius: 10px;
  padding: 0 20px;
}

.card p.comment-view {
  color: #ee9e67;
  margin: 5px 15px 15px 15px;
}

.card p.comment-view span {
  background-color: #37464d;
  color: white;
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 15px;
}

.btn.btn-primary.logout-btn.responsive-btn {
  display: none;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/* Student Each Project Ends */

/* Each Project Responsiveness Begins */
@media screen and (max-width: 991px) {
  .col-8.minutes-list {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .responsive-flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn.btn-primary.logout-btn.responsive-btn {
    display: block;
  }
}
/* Each Project Responsiveness Ends */

/* Upcoming Event Section Begins */
.card.upcoming-event-card h4:nth-of-type(2) {
  margin-top: 20px;
}

h4.card-subtitle {
  font-size: 18px;
}

.card .upcoming-events-div {
  min-height: 100px;
  margin-bottom: 20px;
}

.card .upcoming-events-div .upcoming-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card .upcoming-events-div .upcoming-header:nth-child(1) {
  margin-top: 10px;
}

.card .upcoming-events-div p {
  font-size: 12px;
  margin-bottom: 10px;
}

.card .upcoming-events-div span {
  font-size: 14px;
}

.login-form.add-events-form {
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}

.login-form.add-events-form input {
  margin: 0px;
}

.login-form.add-events-form .form-group {
  display: flex;
  flex-direction: row;
}

.login-form.add-events-form .form-group:nth-child(2) {
  flex-direction: column;
}

.login-form.add-events-form .form-group label {
  font-size: 17px;
}

.login-form.add-events-form .form-group textarea {
  font-size: 12px;
  padding: 5px 10px;
  height: 100px;
}

.login-form.add-events-form .form-group label {
  margin-top: 20px;
}

.login-form.add-events-form .form-group:nth-child(2) {
  margin-bottom: 30px;
}

.login-form.add-events-form .form-group input {
  margin-left: 10px;
  width: 80%;
}

.btn.btn-primary.logout-btn.events-btn {
  width: 50%;
  margin-top: 20px;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  margin-left: 5px;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #37464d;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #04a4e4;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
/* Upcoming Event Section Ends */

/* Upcoming Event Responsiveness Begins */
@media screen and (max-width: 1199px) {
  div#addEvents {
    margin-bottom: 10px;
  }

  .login-form.add-events-form .form-group label {
    font-size: 15px;
  }

  .login-form.add-events-form {
    margin-bottom: 10px;
  }

  .login-form.add-events-form .form-group {
    margin-bottom: 0px;
  }

  .login-form.add-events-form .form-group:nth-child(2) {
    margin-bottom: 15px;
  }

  .login-form.add-events-form .form-group input {
    margin-left: 10px;
    width: 80%;
  }

  .btn.btn-primary.logout-btn.events-btn {
    width: 50%;
    margin: 20px 0px;
  }
}

@media screen and (max-width: 991px) {
  .card.upcoming-event-card {
    display: none;
  }
}
/* Upcoming Event Responsiveness Ends */

/* Add Minutes Page Begins */
body.minute-body {
  background-color: #1f3750;
  color: white;
}

.container h3 {
  margin: 30px 0;
  font-size: 25px;
  font-weight: 400;
}

.container .card {
  padding: 30px;
  margin-bottom: 40px;
  background-color: #1a2226;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.minute-form div.form-group {
  display: flex;
  flex-direction: column;
}

.minute-form div.form-group:nth-child(1) {
  flex-direction: row;
}

.minute-form div label {
  font-size: 18px;
  margin: 15px 20px 15px 0px;
}

.minute-form input {
  width: 60%;
}

.minute-form div #cke_description {
  border-radius: 5px;
  margin-bottom: 30px;
}

.minute-form div.form-group:nth-child(3) input {
  border: none;
  max-width: fit-content;
}

.minute-form .verification-button {
  text-align: right;
}
/* Add Minutes Page Ends */

/* Add Minutes Responsiveness Begins */
@media screen and (max-width: 767px) {
  form.login-form.minute-form {
    padding: 0px;
  }
}
/* Add Minutes Responsiveness Ends */
