/* Navbar Begins */
.navbar.sticky-top {
  background-color: transparent;
  padding: 15px 60px;
  margin-bottom: 10px;
  box-shadow: 0 2px 2px -2px #999;
}

.navbar.sticky-top a.navbar-brand {
text-decoration: none;
color: white;
font-size: 1.5rem;
}

.navbar-brand:hover {
color: white;
}

.header-avatar img {
width: 60px;
height: 60px;
}

.btn.btn-primary.logout-btn {
margin-right: 30px;
background-color: #37464d;
border: none;
font-weight: bold;
color: #04a4e4;
}

/* Navbar Begins */

/* Teacher Dashboard Begins */
.teacher-dashboard {
color: white;
}

.buttons-div {
margin-bottom: 20px;
}

.semBtn {
margin: 10px 20px;
border: none;
background-color: #37464d;
color: white;
padding: 15px 20px;
border-radius: 15px;
box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.semBtn:focus {
border: none;
outline: none;
}
.activeBtn {
background-color: #f0f0ed;
color: #37464d;
}

.view h5 {
font-size: 18px;
font-weight: 500;
}

.view div.card {
margin: 20px 0 40px 0;
}

.project-card {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.project-card h4 {
font-weight: 500;
}

.project-card p {
text-transform: uppercase;
}
.stretched-link::after {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
pointer-events: auto;
content: "";
background-color: rgba(0, 0, 0, 0);
}
/* Teacher Dashboard Ends */

/* Teacher Each Project Begins */
.btn-verify-minutes, .btn-download-minutes {
width: 200px;
margin-left: auto;
margin-right: auto;
}

.btn-download-minutes {
margin-bottom: 1rem;
margin-top: 1rem;
}

.btn-verify-minutes {
margin-bottom: 2rem;
}

.events-btn {
  margin-bottom: 2rem;;
}

.container .card {
padding: 30px;
margin-bottom: 20px;
background-color: #1a2226;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container.each-project {
color: white;
}

.container.each-project h3 {
text-transform: uppercase;
margin: 20px 0 5px 0;
font-weight: 400;
}

.container.each-project h5 {
font-weight: 300;
}

.teacher-log-details {
margin: 30px 0 5px 0;
}

.btn-verify-minutes, .btn-download-minutes {
width: 200px;
margin-left: auto;
margin-right: auto;
}

.card-body.members, .card-body.supervisor{
margin-top: 5px;
margin-bottom: 0;
padding-top: 0;
}

.card-body.members {
padding-bottom: 0;
}

.card-title.members, .card-title.supervisor {
margin-top: 5px;
margin-bottom: 5px;
size: 1.2rem;
}

.card-body.display-events {
padding-left: 0;
margin-top: 0;
min-height: 100px;
}

.input-title {
  margin-left: 10px;
  width: 80%;
  margin: 0px;
}

#project-detail-form {
  padding: 0;
}




/* Teacher Each Project Ends */

/* Add Minutes Page Begins
body.minute-body {
background-color: #1f3750;
color: white;
}

.container h3 {
margin: 30px 0;
font-size: 25px;
font-weight: 400;
}



.minute-form div.form-group {
display: flex;
flex-direction: column;
}

.minute-form div.form-group:nth-child(1) {
flex-direction: row;
}

.minute-form div label {
font-size: 18px;
margin: 15px 20px 15px 0px;
}

.minute-form input {
width: 60%;
}

.minute-form div #cke_description {
border-radius: 5px;
margin-bottom: 30px;
}

.minute-form div.form-group:nth-child(3) input {
border: none;
max-width: fit-content;
}

.minute-form .verification-button {
text-align: right;
}
/* Add Minutes Page Ends */
